<div class="container">
  <h1 class="mt-5">Ingredients</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Designation</th>
      <th scope="col">Unit</th>
      <th scope="col">Stable</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ingredient of ingredients; index as i">
      <th scope="row">{{ ingredient.ingredientID }}</th>
      <td>
        {{ ingredient.designation }}
      </td>
      <td>
        {{ ingredient.unit }}
      </td>
      <td>
        {{ ingredient.stable}}
      </td>
      <td>
<!--        <button type="button" [routerLink]="['/crud/update/', ingredient.ingredientID]">Update</button>-->
        <button type="button" (click)="deleteByID(ingredient.ingredientID)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" routerLink="/ingredients/add">Add ingredient</button>
</div>
